# database login for app, and for the docker compose
HBC_DATABASE_NAME=
HBC_DATABASE_USER_NAME=
HBC_DATABASE_USER_PW=

#for use for the php
HBC_DATABASE_HOST=db_hbc

# for docker compose only when making the mysql, the ports are outside the app and php
HBC_DATABASE_ROOT_PW=
HBC_DATABASE_ROOT_USER=
HBC_DATABASE_PORT=

#for docker compose when making phpmyadmin and the local webserver
HBC_DB_ADMIN_PORT=
HBC_DB_ADMIN_EMAIL=

#for php server
HBC_PHP_WEBSERVER_PORT=



#for docker compose when making phpmyadmin and the local webserver
HBC_PHP_ADMIN_PORT=
HBC_WEBSERVER_PORT=
HBC_PHP_PORT=



